/* 
===================
FONTS
===================
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*
===================
VARIABLES
===================
*/

:root {
    /* dark shades of primary color */
    --intro-background: hsl(217, 28%, 15%);
    --main-background: hsl(218, 28%, 15%);
    --footer-background: hsl(216, 53%, 9%);
    --testimonials-background: hsl(219, 30%, 15%);
    /* accent colors */
    --call-to-action-cyan: hsl(176, 68%, 64%);
    --call-to-action-blue: hsl(198, 60%, 50%);
    --light-red: hsl(0, 100%, 63%);
    /* neutral */
    --white: hsl(0, 0%, 100%);
    --ff-headings: "Raleway", sans-serif;
    --ff-body: "Open Sans", sans-serif;
}
/*
===========================
GLOBAL STYLES
===========================
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--main-background);
}
h1,
h2,
h5,
small{
    font-family: var(--ff-body);
}
p{
    font-family: var(--ff-body);
    font-size: 14px;
    line-height: 1.5rem;
    opacity: 80%;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 24px;
}
h5{
    font-size: 14px;
}
small{
    font-size: 10px;
}
@media only screen and (max-width: 882px) {
    h1{
        font-size: 26px;
    }
    h2{
        font-size: 20px;
    }
    h5{
        font-size: 12px;
        letter-spacing: 1px;
    }
    
}
@media only screen and (max-width: 375px) {
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 16px;
    }
    h5{
        font-size: 10px;
    }

}
h1,
h2,
h5,
p,
a,
small{
    color: var(--white)
}
li{
    list-style-type: none;
}
a{
    font-family: var(--ff-headings);
    text-decoration: none;
    font-weight: 400;
    line-height: 1.5rem;
}
@media only screen and (max-width: 882px){
    a{
        line-height: 1.1rem;
    }
    p{
        line-height: 1.3rem;
    }
}    
.nav-header{
    display: flex;
    padding: 5rem;
}
.logo{
    height: 3.2rem;
}
    
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
    margin-right: 3.2rem;
}
.nav-links a{
padding-left: 2rem;
padding-right: 2rem;
position: relative;
bottom: 110px;
}
.navbar a:hover{
color: var(--call-to-action-cyan);
}

/* Media Query for Laptop Device */

@media only screen and (max-width: 1440px){
    main{
        background-image: url('images/bg-curvy-desktop.svg');
        background-position: right top;
        background-size: cover;
    }

    /* Intoduction */
    .intro-section{
        background: var(--intro-background);
        display: grid;
        text-align: center;
    }
    .intro-container h1{
        padding-left: 25rem;
        padding-right: 25rem;
        margin-top: 2rem;
    }
    .intro-container p{
        padding-top: 1rem;
        text-align: center;
        padding-left: 29rem;
        padding-right: 29rem;
    }
    .intro-button{
        width: 15%;
        height: 2.5rem;
        border-radius: 20px;
        border-style: solid;
        border-color: var(--call-to-action-cyan);
        background: var(--call-to-action-cyan);
        color: var(--white);
        margin-top: 2rem;
        cursor: pointer;
    }

    /* Features */

    #features{
        display: grid;
        grid-template-columns: auto auto;
        text-align: center;
        padding: 5rem;
    }
    #features div{
        padding-left: 2.8rem;
        padding-right: 2.8rem;
        margin-top: 4rem;
        padding-bottom: 2rem;
    }
    #features img,
    #features h2{
        padding-bottom: 1rem;
    }
    #features p{
        padding-left: 5rem;
        padding-right: 5rem;
    }

    /* Stay Section */
    .stay-section{
        display: flex;
        padding-left: 2rem;
        padding-right: 5rem;
        margin-top: 4rem;
    }
    #stay-content{
        margin-left: 3rem;
        margin-top: 6rem;
    }
    #stay-content h2{
        margin-bottom: 1rem;
    }
    #stay-content p{
        padding-top: 1rem;
        padding-right: 5rem;
    }
    #stay-content a{
        color: var(--call-to-action-cyan);
        font-size: 16px;
    }
    #stay-content a:hover{
        color: var(--call-to-action-blue);
    }
    span img{
        width: 17px;
    }
    .underline{
        width: 10rem;
        background-color: var(--call-to-action-cyan);
        height: 0.15rem;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        right: 200px;
    }

    /* Team Section */

    .team-quote{
        position: absolute;
        left: 2rem;    
    }
    .profile-one{
        z-index: 9;
    }
    .team-section{
        display: flex;
        margin-top: 15rem;
    }
    #team-profile{
        background: var(--intro-background);
        margin: 2rem;
        padding-top: 3rem;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-bottom: 1rem;
        border-radius: 8px;
        box-shadow: 0px 10px 4px var(--main-background);
    }
    .team-profile{
        display: flex;
    }
    .team-profile p{
        font-size: 12px;
    }
    .profile{
        width: 10%;
        border-radius: 50%;
    }
    .profile-img{
        display: flex;
    }
    .profile-text{
        padding-left: 0.5rem;
    }
    .profile-text h5{
        font-style: 700;
    }
    .profile-text small{
        opacity: 0.6;
    }

    /*Sign Section */

    .sign-section{
        background: var(--intro-background);
        height: 35vh;
        width: 120vh;
        text-align: center;
        margin-left: 16rem;
        margin-top: 10rem;
        border-radius: 8px;
        box-shadow: 2px 6px 3px hsl(215, 54%, 7%);
        position: relative;
        top: 7rem;
    }
    .sign-section h2{
        padding-top: 2.8rem;
    }
    .sign-section p{
        padding-top: 1rem;
        padding-right: 8rem;
        padding-left: 8rem;
    }
    .sign-form{
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }
    .sign-form input{
        width: 60%;
        padding: 0.8rem;
        margin-right: 1.6rem;
        border-radius: 30px;
        border-style: solid;
        border-color: var(--white);
        outline: none;
    }
    .sign-form button{
        width: 30%;
        border-radius: 30px;
        border-style: solid;
        border-color: var(--call-to-action-cyan);
        background: var(--call-to-action-cyan);
        color: var(--white);
        transition-duration: 0.4s;
    }
    .sign-form button:hover{
        font-weight: bold;
    }

    /* footer parent styles */
    footer{
        background: var(--footer-background);
        padding-top: 8rem;
    }
    footer ul a:hover{
        font-weight: bold;
    }

    /* footer logo and location styles*/
    .footer-nav-location img{ /* location logo Div */
        height: 18px;
        width: 13px;
    }
    .footer-nav-location p{ /* location paragraph Div */
        width: 50%;
        padding-left: 2rem;
        
    }
    .footer-nav-location{ /* Parent Div */
        display: flex;
        align-items: flex-start;
        padding-top: 1rem; 
    }
    

    /* footer phone and email */
    .footer-nav-phone,
    .footer-nav-email{
        display: flex;
        align-items: flex-end;
        padding-right: 2rem;
    }
    .footer-nav-phone p,
    .footer-nav-email p{
        padding-left: 1rem;
    }
    .contact-section{
        padding-top: 4rem;
        position: relative;
        right: 15rem;
    }
    .footer-nav-email{
        padding-top: 1rem;
    }

    /* footer nav links */
    .footer-links li{           /* list spacing */
        padding-bottom: 1rem;
    }
    .footer-nav-links{          /* Div Spacing */
        padding-right: 2rem;
        position: relative;
        right: 10rem;
    }

    .footer-links{              /* Parent Div */
        display: flex;
        margin-right: 5rem;
        padding-top: 4rem;
        width: 25%;
    }
    .footer-nav-contact-links{
        position: relative;
        right: 5rem;
    }

    /* social media icons */
    .social-media-icons{
        display: flex;
        padding-top: 4rem;
        position: relative;
        right: 4rem
    }
    .social-media-icons i{
        color: var(--white);
        font-size: 1rem;
        padding-right: 0.8rem;
    }
    .social-media-icons i:hover{
        color: var(--call-to-action-cyan);
    }

    /* footer nav display */
    .footer-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;


        margin-right: 5rem;
        margin-left: 5rem;
        padding-top: 5rem;
        padding-bottom: 8rem;
        
    }

    


 /* Media Query for Tab Devices */    
}
@media only screen and (max-width: 882px){

    /* Navigation */

    .nav-header{
        padding-top: 2.4rem;
        padding-left: 1.5rem;
    }
    .logo{
        height: 2rem;
    }
    .nav-links a{
        padding-left: 0.8rem;
        font-size: 14px;
    }

    /* Main */

    main{
        background-image: url('images/bg-curvy-mobile.svg');
        background-position: center center;
        background-size: cover;
    }

    /* Introduction */

    .intro-section{
        padding-top: 0rem;
    }
    .img-container img{
        width: 70%;
    }
    .intro-container h1{
        padding: 0.3rem 2rem;
    }
    .intro-container p{
        padding: 0.7rem 4rem;
    }
    .intro-button{
        width: 40%;
        height: 2.6rem;
    }

    /* features */

    #features div{
        padding-top: 2rem;
    }
    #features p{
        padding-left: 0rem;
        padding-right: 0rem;
    }

    /* Stay Section */

    .stay-section{
        display: initial;
    }
    #stay-img img{
        width: 90%;
        padding-top: 5rem;
        padding-left: 5rem;
    }
    #stay-content{
        padding-left: 4rem;
    }
    .underline{
        right: 38rem;
        position: absolute;
    }

    /* Profile Section*/

    .team-quote{
        width: 20px;
        margin-top: 8rem;;
    }
    .team-profile{
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        top: 8.5rem;
    }
    .profile{
        width: 10%;
        border-radius: 50%;
    }

    /* Sign Section */

    .sign-section{
        width: 80vw;
        height: 50vh;
        margin-top: 15rem;
        margin-left: 5rem;
    }
    .sign-section h2{
        padding-top: 2.1rem;
    }
    .sign-section p{
        padding-right: 3rem;
        padding-left: 3rem;
    }
    .sign-form{
        display: grid;
    }
    .sign-form input{
        width: 60vw;
        margin-top: 1.5rem;
        height: 6.5vh;
        padding-left: 2rem;
    }
    .sign-form button{
        margin-top: 2rem;
        width: 40vw;
        height: 6.5vh;
        margin-left: 6rem;
    }

    /* Footer Section */

    /* footer logo and location styles*/
    .footer-nav-location p{ /* location paragraph Div */
        width: 100%;
    }

     /* footer phone and email */
    .contact-section{
         padding-top: 4rem;
         position: relative;
         right: -5rem;
    }
    /* footer nav links */
    
    .footer-nav-links{          /* Div Spacing */
        right: -8rem;
    }

    .footer-links{              /* Parent Div */
        width: 25%;
    }
    .footer-nav-contact-links{
        right: -10rem;
    }
    
    /* social media icons */
    .social-media-icons{
        position: relative;
        right: 20rem;
        top: 7rem;
    }
    .social-media-icons i{
        color: var(--white);
        font-size: 1rem;
        padding-right: 0.8rem;
    }
   
}

/*Media Query for Mobile Devices */

@media only screen and (max-width: 375px){
    .nav-links a{
        padding-left: 0rem;
        padding-right: 1rem;
        font-size: 12px;
    }
    .nav-links{
        margin-left: 9rem;
        margin-top: 0.5rem;
    }
    .logo{
        height: 1.5rem;
    }

    /* Introduction */
    .intro-container h1{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-top: 1.5rem;
    }
    .img-container img{
        width: 90%;
        padding-left: 1rem;
    }
    .intro-container p{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .intro-button{
        width: 50%;
        height: 2.5rem;
        margin-top: 1.5rem;
    }

    /* Features */

    #features{
        display: initial;
        text-align: center;
        padding: 5rem;
    }
    #features p{
        margin-left: 0rem;
        margin-right: 0rem;
    }

    /* Stay Section */

    .stay-section{
        display: initial;
    }
    #stay-img img{
        width: 90%;
        padding-top: 5rem;
        padding-left: 2rem;
    }
    #stay-content{
        text-align: left;
        margin-top: 2rem;
        padding-left: 0rem;
        padding-right: 0rem;
        width: 100%;
    }
    #stay-content h2{
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .underline{
        right: 10.5rem;
    }
    #stay-content p{
        width: 100%;
    }

    /* Profile */

    .team-profile{
        display: initial;
        position: relative;
        top: 8.5rem;
    }
    .profile{
        width: 15%;
        border-radius: 50%;
    }
    #team-profile{
        padding-top: 2rem;
    }
    /* Sign Section */

    .sign-section{
        width: 90vw;
        height: 50vh;
        margin-top: 15rem;
        margin-left: 1rem;
    }
    .sign-section p{
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .sign-form{
        display: grid;
    }
    .sign-form input{
        width: 60vw;
        height: 6vh;
        padding-left: 0.5rem;
        margin-left: 2rem;
    }
    .sign-form button{
        width: 60vw;
        height: 6vh;
        margin-left: 2rem;
    }

    /* Footer Section */

    /* footer nav display */

    .footer-nav{
        display: initial;
        margin-left: 5rem;
        padding-top: 5rem;
        padding-bottom: 8rem;
    }

    /* Footer phone and email */
    .contact-section{
        padding-top: 1rem;
        position: relative;
        right: 0rem;
    }

    /* Footer nav links */

    .footer-links{              /* Parent Div */
        display: initial;
        width: 25%;
    }
    .footer-nav-links{          /* Div Spacing */
        padding-right: 0rem;
        position: relative;
        right: 0rem;
        padding-top: 5rem;
    }
    .footer-nav-contact-links{
        position: relative;
        right: 0rem;
        padding-top: 3rem;
    }

    /* social media icons */
    .social-media-icons{
        position: relative;
        left: 8rem;
        top: -2rem;
    }
    .social-media-icons i{
        color: var(--white);
        font-size: 1rem;
        padding-right: 0.8rem;
    }

    .footer-section{
        padding-left: 2rem;
        padding-bottom: 5rem;
    }



    
    





    

}

